
body {
	background-color: #06181f;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
#title {
	text-align: center;
}

#buttonContainer {
	display: flex;
	justify-content: flex-end;
	width: 95%;
}
.loading {
	text-align: center;
}
.row {
	display: flex;
  height: 700px;
	width: 95%;
	height: 45%;
	min-width: 540px;
	min-height: 500px;
}
.form-control {
	outline: none;
	background-color:  #032330;
	width: 95%;
	border-radius: 15px;
	border: 0px;
	color: #c8c8c8;
	font-family: sans-serif;
	font-size: 16px;
  padding: 15px;
  height: 400px;
}
/* #controlPanel {
	padding: 20px 25px 20px 20px;
} */

#topRow {
	margin: 20px;
}

#bottomRow {
	margin: 0px 20px 20px 20px;
}

.quadrant {
	border-radius: 20px;
  width: 50%;
	min-width: 200px;
	/* min-height: 100px; */
	height: 500px;
	margin: 10px 20px 10px 20px;
	padding: 20px;
	background-color: #05445E
}

.quadrant2 {
  border-radius: 20px;
  width: 50%;
	min-width: 200px;
	/* min-height: 100px; */
	height: 650px;
	margin: 10px 20px 10px 20px;
	padding: 20px;
	background-color: #05445E
}


#mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 600px;
}

.topLeftButtons {
	height: 40px;
	margin-bottom: 20px;
}

#query {
	min-height: 200px;
	/* min-width: 100%; */
}

#queryScroll {
	overflow-y: auto;
	height: 415px;
	background-color: #032330;
	color: #c8c8c8;
  font-family: sans-serif;
  font: sans-serif;
	font-size: 16px;
  border-radius: 15px;
  padding: 0px 15px 15px 15px;
}

.quadrantButton, 
.performanceMetricsButton {
	background-color: #75E6DA;
	font-size: 16px;
	font-weight: 500;
	color:#05445E;
	border: none;
	margin: 0px 20px 0px 0px;
	padding: 10px;
	height: 100%;
	/* width: 150px; */
	border-radius: 5px;
}

button:focus {
  outline:none;
}

input:focus {
  outline:none;
}

.quadrantButton:hover {
  background-color:#5dbab0;
}

#queryPlaceholder {
  color: #c8c8c8;
}
/* #form-group {
  height: 430px;
} */

.queryDisplayTrue {
  background-color: #A3EBB1;
	font-size: 16px;
	font-weight: 400;
	color:#05445E;
	border: none;
	margin: 0px 20px 0px 0px;
	padding: 10px;
	height: 100%;
	/* width: 150px; */
	border-radius: 5px;

}

/* .queryDisplayTrue:hover {
} */

.queryDisplayFalse {
  background-color: #75E6DA;
	font-size: 16px;
	font-weight: 400;
	color:#05445E;
	border: none;
	margin: 0px 20px 0px 0px;
	padding: 10px;
	height: 100%;
	/* width: 150px; */
	border-radius: 5px;

}

.queryDisplayFalse:hover {
  background-color: #5dbab0;
}

#graphBox {
  background-color: #032330;
  border-radius: 15px;
}

#graphBox:focus {
  outline:none;
	border-radius: 10px;
}

.perfMetricPTag {
	color: white;
	font-size: 14px;
	font-family: Arial;
	margin: 0;
	padding: 0;
}

.perfMetricPTagTitle {
	color: white;
	font-size: 20px;
	font-family: Arial;
	margin: 0;
	padding: 0;
}

.performanceMetricsButton {
	height: 40px;
	margin-bottom: 20px;
	margin-right: 140px;
}

.performanceMetricsButtonInfo {
	display: flex;
	flex-direction: right;
}